<!--header start-->

<header id="site-header" class="header">
    <div id="header-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand logo" href="index.html">
                <!-- <img id="logo-img" class="img-center" src="{{ site.baseurl }}/assets/images/logo.png" alt=""> --> <h5>Silenthunter-FX</h5>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto mr-auto">
                {% if page.nav-index == 'true' %}
                    <!-- Home -->
                  <li class="nav-item"> <a class="nav-link active" href="#home">Home</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#services">Services</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#pricing">Pricing</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#blog">Blogs</a>
                  </li>
                {% else %}
                    <li class="nav-item"> <a class="nav-link active" href="{{site.url}}">Home</a></li>
                {% endif %}
                    <li class="nav-item dropdown" data-toggle="hover"> <a class="nav-link active dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                    <div class="dropdown-menu">
                      <ul class="list-unstyled">
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produk
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="{{site.url}}/power-scalper">Power Scalper</a>
                            </li>
                            <li><a href="{{site.url}}/view-live-trading">View Live Trading</a>
                            </li>
                          </ul>
                        </li>
                        <!-- <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="service.html">Services 1</a>
                            </li>
                            <li><a href="service-2.html">Services 2</a>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Team
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="team-1.html">Team 1</a>
                            </li>
                            <li><a href="team-2.html">Team 2</a>
                            </li>
                            <li><a href="team-single.html">Team Single</a>
                            </li>
                          </ul>
                        </li>
  
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contact Us
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="contact.html">contact 1</a>
                            </li>
                            <li><a href="contact-2.html">contact 2</a>
                            </li>
                          </ul>
                        </li>                      
  
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="blog-grid-2.html">Blog Grid 2</a>
                            </li>
                            <li><a href="blog-grid-3.html">Blog Grid 3</a>
                            </li>
                            <li><a href="blog-classic.html">Blog Classic</a>
                            </li>
                             <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                            </li>
                             <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                            </li>
                             <li><a href="blog-single.html">Blog Single</a>
                            </li>
                          </ul>
                        </li>
  
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Element
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="shortcode-accordion.html">Accordion</a>
                            </li>
                            <li><a href="shortcode-blog-post.html">Blog Post</a>
                            </li>
                            <li><a href="shortcode-counter.html">Counter</a>
                            </li>
                            <li><a href="shortcode-feature.html">Feature Box</a>
                            </li>                           
                             <li><a href="shortcode-pricing.html">Pricing Table</a>
                            </li>
                             <li><a href="shortcode-team.html">Team</a>
                            </li>
                            <li><a href="shortcode-testimonial.html">Testimonial</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="faq.html">Faq</a>
                        </li>
                        <li><a href="pricing.html">Pricing</a>
                        </li>
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="login.html">Login 1</a>
                            </li>
                            <li><a href="login-2.html">Login 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="register.html">Register</a>
                        </li>
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Coming Soon
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="coming-soon.html">Coming Soon 1</a>
                            </li>
                            <li><a href="coming-soon-2.html">Coming Soon 2</a>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-toggle="hover"> <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        404 Error
                      </a>
                          <ul class="dropdown-menu">
                            <li><a href="error-404.html">404 Error 1</a>
                            </li>
                            <li><a href="error-404-2.html">404 Error 2</a>
                            </li>
                          </ul>
                        </li> -->
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="right-nav align-items-center d-flex justify-content-end list-inline">
                <div class="header-call d-flex align-items-center mr-3">
                  <h5>call:</h5>
                  <a href="tel:+6281914921646"><b>+62819-1492-1646</b></a>
                </div> <a class="btn btn-theme btn-sm" href="https://wa.me/6281914921646?text=Saya%20sudah%20melihat%20website%20anda%20dan%20ingin%20tahu%20lebih%20lanjut" target="_blank"><span><i class="la la-whatsapp"></i>Whatsapp</span></a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!--header end-->