<!--header start-->

<header id="site-header" class="header">
    <div id="header-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand logo" href="index.html">
                <!-- <img id="logo-img" class="img-center" src="{{ site.baseurl }}/assets/images/logo.png" alt=""> --> <h5>Silenthunter-FX</h5>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto mr-auto">
                {% if page.nav-index == 'true' %}
                    <!-- Home -->
                  <li class="nav-item"> <a class="nav-link active" href="#home">Home</a></li>
                  <li class="nav-item"> <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#services">Services</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#pricing">Pricing</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#blog">Blogs</a>
                  </li>
                {% else %}
                <li class="nav-item"> <a class="nav-link active" href="{{site.url}}">Home</a></li>
                {% endif %}
                </ul>
              </div>
              <div class="right-nav align-items-center d-flex justify-content-end list-inline">
                <div class="header-call d-flex align-items-center mr-3">
                  <h5>call:</h5>
                  <a href="tel:+6281914921646"><b>+62819-1492-1646</b></a>
                </div> <a class="btn btn-theme btn-sm" href="https://wa.me/6281914921646?text=Saya%20sudah%20melihat%20website%20anda%20dan%20ingin%20tahu%20lebih%20lanjut" target="_blank"><span><i class="la la-whatsapp"></i>Whatsapp</span></a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!--header end-->