
<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="la la-hand-pointer-o"></i></a></div>

<!--back-to-top end-->


</body>
<!-- inject js start -->

<!--== jquery -->
<script src="{{ site.baseurl }}/assets/js/common-theme.js"></script>

<!--== nice-select -->
<script src="{{ site.baseurl }}/assets/js/jquery.nice-select.js"></script>

<!--== owl-carousel -->
<script src="{{ site.baseurl }}/assets/js/owl-carousel/owl.carousel.min.js"></script> 

<!--== magnific-popup --> 
<script src="{{ site.baseurl }}/assets/js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!--== counter -->
<script src="{{ site.baseurl }}/assets/js/counter/counter.js"></script> 

<!--== isotope -->
<script src="{{ site.baseurl }}/assets/js/isotope/isotope.pkgd.min.js"></script> 

<!--== particles -->
<script src="{{ site.baseurl }}/assets/js/particles.min.js"></script>

<!--== vivus -->
<script src="{{ site.baseurl }}/assets/js/vivus/pathformer.js"></script>
<script src="{{ site.baseurl }}/assets/js/vivus/vivus.js"></script>

<!--== raindrops -->
<script src="{{ site.baseurl }}/assets/js/raindrops/jquery-ui.js"></script>
<script src="{{ site.baseurl }}/assets/js/raindrops/raindrops.js"></script>

<!--== countdown -->
<script src="{{ site.baseurl }}/assets/js/countdown/jquery.countdown.min.js"></script> 

<!--== contact-form -->
<script src="{{ site.baseurl }}/assets/js/contact-form/contact-form.js"></script>

<!--== wow -->
<script src="{{ site.baseurl }}/assets/js/wow.min.js"></script>

<!--== theme-script -->
<script src="{{ site.baseurl }}/assets/js/theme-script.js"></script>

<!-- inject js end -->

</html>